* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html {
  overflow: hidden;
}

div, section {
  box-sizing: border-box;
}

li {
  list-style: none;
}

main {
  display: block;
}

button {
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 16px;
  font-weight: 500;
  border-radius: 38px;

  &.btn {
    padding: 14px 66px;
    color: #fff;
    background-color: #43888F;
    border-radius: 38px;
    border: 0px;

    &.slim {
      padding: 9px 50px;
      max-width: 326px;
      width: 100%;
    }
  }
}

input, select {
  background-color: #F2F2F2;
  border: 1px solid #B0BFC6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 9px 15px;
  font: 14px/18px 'Open Sans', sans-serif;
  color: #546e7a;
  outline: 0;
  margin-bottom: 25px;
  max-width: 326px;
  display: block;
}

.hidden {
  display: none !important;
}

.input-row {
  position: relative;
  .error {
    display: block;
    position: absolute;
    bottom: -15px;
    color: #D62D30;
    font-size: 10px;
  }
}

.pac-target-input:-webkit-autofill {
  animation-name: beginBrowserAutofill;
}

.pac-target-input:not(:-webkit-autofill) {
  animation-name: endBrowserAutofill;
}

@keyframes beginBrowserAutofill {
  0% {
  }
  to {
  }
}

@keyframes endBrowserAutofill {
  0% {
  }
  to {
  }
}
