@media ( max-width: 768px ) {
  body {
    background: #EDCAC0!important;
  }

  #mobile-img-block {
    display: block;
    height: 40%;
    background: #F2F2F2;
    background-size: cover;
    background-repeat: no-repeat;
    transition: height 0.2s ease;
    background-position: center center;
    background-image: url("../images/bg-1.jpg");
  }

  .tall #content-box {
    height: 75%;
  }

  .tall #mobile-img-block {
    height: 25%;
  }

  #main, #main .container {
    height: 100%;
  }

  #content-box {
    margin: 0;
    height: 60%;
    width: 100%;
    max-width: 100%;
    overflow: unset;
    background-color: transparent;
    transition: height 0.2s ease;

    &:before {
      content: '';
      position: absolute;
      top: -16px;
      width: 100%;
      height: 40px;
      background-color: #EDCAC0;
      transform: skewY(
          3deg
      );
    }
  }

  .tall #content-box {
    height: 75%;
  }

  .section {
    top: 20px;
    right: 50%;
    left: auto;
    bottom: 0;
    width: 320px;
    margin-right: -160px;
    justify-content: start;

    &.greeting-section, &.age-section, &.final-section {
      padding: 0 20px;
      background-color: transparent;
      font-size: 18px;
      line-height: 21px;
      text-align: left;
      justify-content: start;
    }

    .label {
      font-size: 18px;
      line-height: 21px;
      text-align: left;
      margin-bottom: 20px;
    }

    .sweet-knowledge {
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 14px;
      padding: 10px 24px 10px 10px;
      max-width: 254px;
      margin-top: 40px;
    }
  }

  .skip-block {
    margin-top: 10px;
    text-align: center;
  }

  #nav-slider {display: none!important;}

  input, select {
    margin-bottom: 15px;
  }

}
