body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #EDCAC0;
  background-image: url(../images/bg-1-desktop.jpg);
}

.container {
  max-width: 1248px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

#mobile-img-block {
  display: none;
}

#content-box {
  background: #FFFFFF;
  border-radius: 20px;
  margin: 100px 10px 10px;
  height: 470px;
  max-width: 728px;
  position: relative;
  overflow: hidden;
}

.section {
  top: 30px;
  bottom: 30px;
  right: 30px;
  left: 30px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: transform 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &.greeting-section, &.age-section, &.final-section {
    background: #F2F2F2;
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    button {
      margin-top: 35px;
    }
  }

  .label {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    max-width: 365px;
    margin-bottom: 35px;
  }

  .select {
    ul {
      display: flex;
      flex-direction: column;
    }

    li {
      padding: 9px 20px;
      width: 236px;
      text-align: center;
      background-color: transparent;
      margin-bottom: 20px;
      cursor: pointer;
      transition: background-color 0.2s ease, color 0.2s ease;
      font-size: 16px;
      font-weight: 500;
      border-radius: 38px;

      border: 1px solid #43888F;
      color: #43888F;

      &:hover {
        background-color: #43888F;
        color: #fff;
      }
    }

    &.many-questions {
      ul {
        li {
          padding: 4px 0;
          margin-bottom: 13px;
        }
      }
    }
  }

  .sweet-knowledge {
    background: #913E98;
    border-radius: 10px;
    padding: 20px 70px 20px 20px;
    color: #fff;
    max-width: 455px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
      top: -26px;
      right: -26px;
      background: #913E98 url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.94668e-08 5.40093C-0.000248434 3.95126 0.582385 2.56238 1.61681 1.54676C2.65124 0.531135 4.05058 -0.0259184 5.5 0.000927231C7.21732 -0.00819277 8.85599 0.720102 10 2.00093C11.144 0.720102 12.7827 -0.00819277 14.5 0.000927231C15.9494 -0.0259184 17.3488 0.531135 18.3832 1.54676C19.4176 2.56238 20.0002 3.95126 20 5.40093C20 10.7569 13.621 14.8009 10 18.0009C6.387 14.7739 7.94668e-08 10.7609 7.94668e-08 5.40093Z' fill='white'/%3E%3C/svg%3E") no-repeat center center;
    }
  }

  .skip-block {
    .span-skip {
      text-decoration: none;
      color: #43888F;
      cursor: pointer;
    }
  }
}

#nav-slider {
  position: absolute;
  width: 150px;
  height: 15px;
  right: 80px;
  top: 37px;
  display: none;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #D0D9DE;
      transition: background-color 0.2s ease, width 0.2s ease;
      &.active {
        width: 30px;
        background-color: #43888F;
        border-radius: 45px;
      }
    }
  }
}
